body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

button {
  margin-right: 2px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #685d79;
  float: left;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  border-radius: 4px;
  color: #475c7a;
}

.square.highlight {
  background: #fcbb6d;
  color: #d8737f;
}

.square.O {
  color: #d8737f;
}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: #8fb9a8;
}

.indicator {
  float: left;
  text-align: center;
  line-height: 33px;
  width: 33px;
  color: #8fb9a8;
}

button#opt-button {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #0aad77;
  font-size: 13px;
  font-family: sans-serif;
}

button#sel-button {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #e62f5a;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

button#acc-button {
  margin-bottom: 15px;
  color: white;
  /* background: #568ea6; */
  border-radius: 20px;
  height: 40px;
  width: 90px;
  font-size: 13px;
  font-family: sans-serif;
}

button#hidden {
  display: none;
}

.step {
  font-size: 12px;
  font-family: sans-serif;
}

.col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.step:focus {
  font-weight: bold;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  width: 200px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: right;
}

.game-board {
  background: white;
  padding-right: 33px;
  padding-bottom: 33px;
  border-radius: 33px;
  border: 2px solid #685d79;
  height: min-content;
}

.user-name {
  font-size: 20px;
  margin-right: 0px;
  margin-bottom: 30px;
}

.user-photo {
  width: 100px;
  height: 100px;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
}

.centered {
  margin-top: 100px;
  font-family: sans-serif;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.rounded-button {
  border-radius: 25px;
}

div#hidden {
  display: none;
}

.danger-alert {
  color: #e62f5a;
  display: flex;
  justify-content: center;
}
